h1 {
    text-align: center;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
}

h2 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 10px;
}

h3 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 0px;
}

h4 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 0px;
    /* padding-bottom: 0px; */
}

.skill-list {
    margin-top: 0px;
}

h5 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 0px;
}

.position {
    font-weight: 500;
}

.duration {
    font-style: italic;
}

main {
    text-align: center;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 300;
}

#columns {
    display: flex;
    text-align: left;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#column-1 {
    max-width: 20%;
    /* margin-right: 5%; */
    min-width: 300px;
    background-color: dimgray;
    padding: 20px;
    color: white;
}

#column-2 {
    max-width: 60%;
    /* margin-left: 5%; */
    min-width: 500px;
    padding: 20px;
}

.info {
    display: flex;
    justify-content: space-between;
    /* margin-top: 0px; */
    /* padding-top: 0px; */
}

.company, .position {
    text-align: left;
}

.location, .duration {
    text-align: right;
}

.space {
    margin-top: 50px;
}

.no-bullet {
    list-style-type: none;
    font-style: italic;
    font-weight: 450;
}

.project-spec {
    margin-left: 50px;
}